# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
__pycache__/

.ipynb_checkpoints

# Ignore the 300MB file of YOLO weights
darknet/yolov3.weights

# Ignore all maps and video CCTVs
cctv/
map/
darknet/main_pid
!regions.csv
!coords/**
frame/
frame_csv_only/
detections/

# Ignore personal jupyter notebook
anotasi_yudis.ipynb
Untitled.ipynb